/* CardList.css */
.cardList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardList-card {
    flex: 1;
    max-width: calc(33.33% - 1rem);
    width: 100%;
}

.cardList-card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}