/* Card.css*/
.card-element {
    width: 6rem;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0; /* Remove padding */
    transition: transform 0.2s;
    margin-right: -0.5rem; /* Add a transition for a cool hover effect */
}

.card-element:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.card-title{
    font-size: 1rem !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #000 !important;
}
.card-summary{
    font-size:0.7rem;
    margin: 0;
    padding: 0;
    color: #000;
}