.page-title {
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
}

.text-title {
    text-shadow: 1.2px 1.2px 1.2px black;
}
.custom-hr {
    border: none;
    border-top: 2px solid #000; 
    margin: 1rem 0; 
  }
  
.footer-container {
    background-color: white;
    padding: 1rem;
}

.page-footer {
    margin-top: 2rem;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}