/* Login.css */
.login-tile {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
}

.login-container {
    background-color: #E0BBBB33;
    font-size: medium;
    color: black;
    padding: 0rem 6rem 1.5rem 6rem;
    border: 2px solid black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.form-component {
    width: 100%;
    padding: 20px;
}

.form-group {
    text-align: left;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.button {
    flex-basis: 48%;
    border-radius: 0% !important;
    color: black !important;
    font-weight: bold !important;
}

#login-button {
    border-color: #8FA98F;
    background-color: #8FA98F;
}

#cancel-button {
    border-color: #E75D5D;
    background-color: #E75D5D;
}

.auth-error {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #CD3232;
    margin-top: 0.5rem;
}